.reliability {
    margin-top: 126px;
    display: flex;
    justify-content: center;
    gap: 0 70px;
    
}

.reliability__item {
    width: 394px;
}

.reliability__item--title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #000;
}

.reliability__item--text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: rgba(78, 93, 124, 0.5);
}