body {
    font-family: "Inter", sans-serif;
}


.btn {
    font-weight: 800;
    font-size: 17px;
    line-height: 140%;
    text-align: center;
    border: none;
    cursor: pointer;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}




.none {
    display: none;
}


.link {
    height: 2px;
    background-color: rgba(78, 93, 124, 0.08);
    max-width: 1338px;
    width: 100%;
    margin: 0 auto;
    
}


@media (max-width: 1300px) { 
    .link {
        width: 380px;
        
      
    }
}


@media (max-width: 700px) { 
    .link {
        width: 328px;
       
       
    }
}
